[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
hexdump = "*"
pandacan = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
